
{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}

        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h2>{{ entry.title }}, <time datetime="{{ entry.entrydate }}">{{ entry.entrydate.strftime('%A, %B %d %Y') }}</time></h2>

                        <div class="entry">
                            <h3>Time Spent: </h3>
                            <p>{{ entry.timespent }} hours</p>
                        </div>
                        <div class="entry">
                            <h3>What I Learned:</h3>
                            <p>{{ entry.learned }}</p>
                        </div>
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <ul>
                                 {% for resource in entry.resources %}
                                    <li><a href="">{{ resource }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </article>
                </div>
            </div>
            <div class="edit">
                <p><a href="{{ url_for('edit',entry_id=entry.id) }}">Edit Entry</a></p>
            </div>
        </section>
{% endblock %}