{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}

<form method="POST" action="{{ url_for('edit', entry_id=entry.id) }}" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
    <button type="submit" id="submit">Edit Entry!</button>
</form>
{% endblock %}
