<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="{{ url_for('newentry') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                    <a href="{{ url_for('index') }}"  title="Login">Main Menu</a>

                </div>
                    <div class="site-header">
                <!-- Say Hi -->
                <h5> {% if current_user.is_authenticated %}
                              Logged in as {{ current_user.email }}
                    {% endif %}
                </h5>
                {% if not current_user.is_authenticated %}
                   <a href="{{ url_for('login') }}" title="Log in"></a>
                {% endif %}
              </div>

           </div>

        </header>

        <div>
               {% block content %}{% endblock %}
        </div>
        <footer>
            <div>
                {% if  current_user.is_authenticated %}
                          <a href="{{ url_for('logout') }}"  title="Log out">Log out</a>
                {% else %}
                   <a href="{{ url_for('register') }}"  title="Register">Register</a>
                   <a href="{{ url_for('login') }}"  title="Login">Login</a>

                {% endif %}

                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>